// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

@import '@fortawesome/fontawesome-free/css/all.min.css';

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Iconos
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

//custom-colors
$custom-colors: (

    "custom-color-A1": $blue-100,
    "custom-color-A2": $blue-200,
    "custom-color-A3": $blue-300,
    "custom-color-A4": $blue-400,
    "custom-color-A5": $blue-500,
    "custom-color-A6": $blue-600,
    "custom-color-A7": $blue-700,
    "custom-color-A8": $blue-800,
    "custom-color-A9": $blue-900,

    "custom-color-G1": $gray-100,
    "custom-color-G2": $gray-200,
    "custom-color-G3": $gray-300,
    "custom-color-G4": $gray-400,
    "custom-color-G5": $gray-500,
    "custom-color-G6": $gray-600,
    "custom-color-G7": $gray-700,
    "custom-color-G8": $gray-900,
    "custom-color-G9": $gray-900,

    "custom-color-blue": #0031ff,
    "custom-color-gray": #6d6a7a,
    "custom-color-purple": #6f42c1,
    "custom-color-green": #1e9172,

);
